 /*identificador principal*/
 #owl-demo .item{
    cursor:pointer;
	margin: 0.5em;
    transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	padding: 1em;
	/*permite poner cuadros blancos en las fotos*/
	/*background: #fff;*/
 }


/* Textos informativos */
.item h4 {
	margin: 20px 0 10px;
}

.item p{
	font-size: 13px;
	color: #3b3b3b;
	line-height: 1.8em;
}


/* configuracion tira */
.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	margin: 2% 0 4%;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(160, 8, 8, 0);
}





